<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.todolistapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/todo"
        android:label="To Do List App"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.android.todoapp.EditSavedActivity"
            android:label="Edit Task">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.todoapp.CatalogActivity" />
        </activity>
        <activity
            android:name="com.example.android.todoapp.CatalogActivity"
            android:label="To Do List App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.android.todoapp.EditorActivity"
            android:label="add a task"
            android:parentActivityName="com.example.android.todoapp.CatalogActivity"
            android:theme="@style/EditorTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.todoapp.CatalogActivity" />
        </activity>

        <provider
            android:name="com.example.android.todoapp.data.Provider"
            android:authorities="com.example.android.todolistapp" />
    </application>

</manifest>